.image {
    padding-left: 20px;
    padding-top: 15px;
}

.all {
    padding-left: 20px;
}

.all a {
    text-decoration: none;
}

.pl1 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 5px;
}

.rs2 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 5px;
}

.ev3 {
    font-size: 25px;
    font-weight: bold;
    padding-left: 5px;
}

#restaurants {
    text-decoration: none;
}